
<h2>## <%= key %> ##</h2>

<h3>Adapter Info</h3>
<table>
  <tr><td>adapter name</td><td><%= con.adapter_name %></td></tr>
  <tr><td>class name</td><td><%= con.class_name %></td></tr>
</table>

<%= render_spec_for( key ) %>


<%= render_tables( tables ) %>


<% tables.each do |table| %>
<h4>### <%= table.name %> ###</h4>

<%= render_table_def( table ) %>
<% end %>

<!-- todo: add indexes, check for primary keys - how?? -->